<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tasks" name="Tasks" schema="schema/tasks.exsd"/>
   <extension-point id="scanners" name="Scanners" schema="schema/scanners.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.eclipse.mechanic.plugin.ui.MechanicPreferencePage"
            id="com.google.eclipse.mechanic.plugin.ui.MechanicPreferencePage"
            name="Workspace Mechanic"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.eclipse.mechanic.plugin.core.MechanicPreferencesInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.trim.status">
     <toolbar id="com.google.eclipse.mechanic.contributedTrim">
       <control
         class="com.google.eclipse.mechanic.plugin.ui.MechanicStatusControlContribution"
         id="com.google.eclipse.mechanic.plugin.ui.MechanicStatusControlContribution">
       </control>
    </toolbar>
    </menuContribution>
  </extension>
   <extension
         point="com.google.eclipse.mechanic.scanners">
      <scanner
            class="com.google.eclipse.mechanic.internal.ClassFileTaskScanner"/>
      <scanner
            class="com.google.eclipse.mechanic.internal.PreferenceFileTaskScanner"/>
      <scanner
            class="com.google.eclipse.mechanic.internal.ExtensionPointScanner"/>
      <scanner
            class="com.google.eclipse.mechanic.internal.KeyboardBindingsScanner"/>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="The user&apos;s home directory"
            initializerClass="com.google.eclipse.mechanic.internal.UserHomeVariableInitializer"
            name="user_homedir"
            readOnly="true">
      </variable>
   </extension>
</plugin>
