<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tasks" name="Tasks" schema="schema/tasks.exsd"/>
   <extension-point id="scanners" name="Scanners" schema="schema/scanners.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.google.eclipse.mechanic.plugin.ui.MechanicPreferencePage"
            id="com.google.eclipse.mechanic.plugin.ui.MechanicPreferencePage"
            name="Workspace Mechanic"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.google.eclipse.mechanic.plugin.core.MechanicPreferencesInitializer"/>
   </extension>
   <!-- TODO(smckay): replace the TrimGroup with a TrimContribution -->
   <extension point="org.eclipse.ui.menus">
      <group id="com.google.eclipse.mechanic.TrimGroup">
         <location>
            <bar type="trim"/>
             <order position="before" relativeTo="status"/>
         </location>
      </group>
      <widget
           id="com.google.eclipse.mechanic.plugin.ui.MechanicStatusTrimWidget"
           class="com.google.eclipse.mechanic.plugin.ui.MechanicStatusTrimWidget">
         <location>
            <bar path="com.google.eclipse.mechanic.TrimGroup" type="trim"/>
         </location>
      </widget>
   </extension>
   <extension
         point="com.google.eclipse.mechanic.scanners">
      <scanner
            class="com.google.eclipse.mechanic.internal.ClassFileTaskScanner"/>
      <scanner
            class="com.google.eclipse.mechanic.internal.PreferenceFileTaskScanner"/>
      <scanner
            class="com.google.eclipse.mechanic.internal.ExtensionPointScanner"/>
      <scanner
            class="com.google.eclipse.mechanic.internal.KeyboardBindingsScanner"/>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="The user&apos;s home directory"
            initializerClass="com.google.eclipse.mechanic.internal.UserHomeVariableInitializer"
            name="user_homedir"
            readOnly="true">
      </variable>
   </extension>
</plugin>
